$color: black;
$background:#E5E8E9;
$border:yellow;
$colorJumbo:green;
$backgroundTable:red;

@mixin Color($color,$background){
	background: $background;
	color:$color;
} 

tbody tr{
	@include Color($color,$background);
}
.jumbotron{
	color:$colorJumbo
}